html {
    font-size: 14px;
}

.blog-masthead {
    background-color: #b34848;
}

h1, h2, h3, h4, h5, h6 {
    color: #b34848;
}

.blog-post-title>a {
    color: #b34848;
}

.blog-post-title>a:hover {
    color: #b34848;
}

.comments-container {
    margin: 0;
    padding: 0;
    list-style: none;
}

.comment {
    display: flex;
    flex-direction: column;
}

.comments-line-break {
    width: 100%;
    border: #999 0,2px solid;
}


/*.createPost {
    display: flex;
    justify-content: center;
    align-items: center;
}

.createPost-wrapper {
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.createPost-table{
    width: 100%;
}

.cratePost-table-headers {
    background-color: #f3f3f3;
    font-weight: 600;
}

.createPost-table-postTitle {
    width: 80%;
}

.createPost-table-option {
    width: 20%;
}

.createPost-wrapper form {
    display: flex;
    flex-direction: column;
}

.createPost-wrapper button {
    width: 80px;
}
*/